$cor-primaria: rgb(245, 183, 193);
$cor-secundaria: #9491e4;
$cor-terciaria: beige;
$cor-quartenaria: rgb(151, 151, 151);
$cor-cinco: #6965da;
$tamanho-campos: 2px;

body {
    color: $cor-quartenaria;
    background-color: $cor-terciaria;
}


.atividade1 {

    button {
        background-color: $cor-primaria;
        border: 1px solid $cor-cinco;
        padding: $tamanho-campos;
        margin: 3px;

    }

    input {
        padding: $tamanho-campos;
        border: 1px solid $cor-primaria;
    }

    h1 {
        color: $cor-cinco;
    }

    h2 {
        color: $cor-secundaria;
    }

}

.atividadeHerança {

    $cor-botao-primario: green;
    $cor-botao-primario-escuro:darken($cor-botao-primario,5%);
    $cor-botao-perigo: red;
    $cor-botao-alerta: orange;

    .botao {
        padding: 5px;
        text-transform: uppercase;
    }

    .botao-primario {
        @extend button;
        background-color: green;
        border-color: green;
    }

    .botao-primario:hover {
        background-color: $cor-botao-primario-escuro;
        border-color: $cor-botao-primario-escuro;
    }

    .botao-perigo {
        @extend button;
        background-color: red;
        border-color: red;
    }

    .botao-perigo:hover {
        background-color: lighten($cor-botao-perigo,30%);
        border-color: lighten($cor-botao-primario,5%);
    }

    .botao-alerta {
        @extend button;
        background-color: orange;
        border-color: orange;
    }
    .botao-alerta:hover {
        background-color: darken($cor-botao-alerta, 5%);
        border-color: darken($cor-botao-alerta, 5%);
    }
}