$cor-primaria: white;
$cor-secundaria: orangered;
$cor-terciaria: salmon;

@mixin display-flex($diretion, $justify) {
    display: flex;
    flex-direction: $diretion;
    justify-content: $justify;
}

nav {
    @include display-flex(row, space-around);

    img {
        height: 70px;
        width: 70px;
    }

    ul {
        @include display-flex(row, space-around);
    }


    li {
        list-style: none;
        padding: 15px;
    }

    a {
        text-decoration: none;
        color: $cor-terciaria;
    }
}

main {
    background-image: url("https://i.pinimg.com/originals/30/3b/2e/303b2e0480a20ea33846303da27576fe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $cor-primaria;
    @include display-flex(column, center);
}

main input,
main button {
    padding: 15px;
    border-color: $cor-secundaria;
    color: $cor-primaria;
    border-radius: 15px;
}

button {
    background-color: $cor-secundaria;
}

.ultimo-conteudo-adc {
    @include display-flex(column, center);

    h2 {
        text-align: center;
        color: $cor-secundaria;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;



        .linha {
            border-bottom: 1px solid black;
            padding: 10px
        }

        th {
            @extend .linha;
            color: $cor-secundaria;
        }

        td {
            @extend .linha;
            color: black;
        }


        .Assunto {
            display: flex;
            justify-content: center;


            @mixin assuntoLivro ($corFundo) {
                background-color: $corFundo;
                max-width: 80%;
                color: white;
                text-transform: uppercase;
            }

            .assuntoLivro {
                @include assuntoLivro (#eca47d);
            }


        }

        .score {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .like {
                color: green;
            }

            .dislike {
                color: red;
            }

            .star {
                color: goldenrod;
            }
        }

    }

    .botao {
        @include display-flex(row, center);

        button {
            padding: 15px;
            background-color: white;
            border: 1px solid $cor-terciaria;
            color: $cor-secundaria;
            border-radius: 10px;
            text-transform: uppercase;
            width: 20%;
        }
    }
}