$cor-primaria: white;
$cor-secundaria: purple;
$cor-terciaria: salmon;

@mixin display-flex($diretion, $justify) {
    display: flex;
    flex-direction: $diretion;
    justify-content: $justify;
}

nav {
@include display-flex(row,space-around);
    img {
        height: 70px;
        width: 70px;
    }

ul {
    @include display-flex(row,space-around);
}


    li {
        list-style: none;
        padding: 15px;
    }

    a {
        text-decoration: none;
        color: $cor-terciaria;
    }
}

main {
    background-image: url("https://i.pinimg.com/originals/30/3b/2e/303b2e0480a20ea33846303da27576fe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $cor-primaria;
    @include display-flex(column,center);
}

main input, main button {
    padding: 15px;
    border-color: $cor-secundaria;
    color: $cor-primaria;
    border-radius: 10px;
  }

  button{
    background-color: $cor-secundaria;
  }